server {
    listen 443 ssl;
    server_name kaderisasi.pelajarnumagetan.or.id;

    root /var/www/kaderisasi;
    index index.html index.php;

    client_max_body_size 50M;

    fastcgi_buffer_size 128k;
    fastcgi_buffers 4 256k;
    fastcgi_busy_buffers_size 256k;

    location / {
        try_files $uri $uri/ =404;
    }

    location = /makesta {
        include fastcgi_params;
        fastcgi_pass unix:/run/php/php8.3-fpm.sock;

        fastcgi_param SCRIPT_FILENAME /var/www/web-makesta/public/index.php;
        fastcgi_param DOCUMENT_ROOT /var/www/web-makesta/public;
        fastcgi_param SCRIPT_NAME /index.php;
        fastcgi_param PHP_SELF /index.php;
        fastcgi_param REQUEST_URI /$is_args$args;
    }

    location = /makesta/ {
        return 301 /makesta$is_args$args;
    }

    location /makesta/ {
        rewrite ^/makesta/(.*)$ /$1 break;
        root /var/www/web-makesta/public;
        try_files $uri @makesta_front_controller;
    }

    location @makesta_front_controller {
        include fastcgi_params;
        fastcgi_pass unix:/run/php/php8.3-fpm.sock;

        fastcgi_param SCRIPT_FILENAME /var/www/web-makesta/public/index.php;
        fastcgi_param DOCUMENT_ROOT /var/www/web-makesta/public;
        fastcgi_param SCRIPT_NAME /index.php;
        fastcgi_param PHP_SELF /index.php;
        fastcgi_param REQUEST_URI $uri$is_args$args;
    }

    location ~ ^/makesta/.*\.php(?:/|$) {
        return 404;
    }

    location ~ /\.(?!well-known).* {
        deny all;
    }

    ssl_certificate /etc/letsencrypt/live/kaderisasi.pelajarnumagetan.or.id/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/kaderisasi.pelajarnumagetan.or.id/privkey.pem;
    include /etc/letsencrypt/options-ssl-nginx.conf;
    ssl_dhparam /etc/letsencrypt/ssl-dhparams.pem;
}

server {
    listen 80;
    server_name kaderisasi.pelajarnumagetan.or.id;

    return 301 https://$host$request_uri;
}
